{% extends 'base.html' %}
{% block content %}
<section class="gallery-page general-info">
    <div class="col">
        <h2 class="moving-title" id="title">Фотогалерея</h2>

        <!-- Photo carousel -->
        <div class="photo-carousel">
            {% for photo in photos %}
            <img src="{{ photo.photo.url }}" alt="Фото галлерея" class="student-photo" />
            {% empty %}
            <p>No photos found!</p>
            {% endfor %}

            <button class="carousel-prev"><i class="fa-solid fa-angle-left"></i></button>
            <button class="carousel-next"><i class="fa-solid fa-angle-right"></i></button>

            <p>
                Добро пожаловать в нашу Галерею!
                <br>
                Здесь собраны самые яркие и памятные моменты учеников: фотографии с
                занятий, школьных мероприятий, праздников и экскурсий. Вы сможете увидеть улыбки наших детей, весёлые
                моменты из школьной жизни и достижения каждого ученика. В верхней части страницы представлены
                фотографии,
                которые можно листать в карусели, а ниже — праздничные и обучающие видео.
            </p>

        </div>

        <!-- Videos -->
        <div class="video-grid">
            <h2 class="moving-title" id="title">Видеогалерея</h2>

            <div class="video-wrapper">
                <iframe width=" 495" height="278" src="https://www.youtube.com/embed/vtyliACZuqI" title="1 Б класс"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </iframe>
                <p>1 "Б" класс</p>
            </div>

        </div>
    </div>
</section>
{% endblock %}