{% extends 'base.html' %}
{% load static %}
{% block page_name %}Галерея{% endblock %}
{% block content %}
<section class="gallery-page general-info">

    <div class="col">
        <h2 class="moving-title" id="title">Фотогалерея</h2>

        <div class="carousel-wrapper">
            <div class="photo-carousel">
                {% for photo in photos %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ photo.photo.url }}" alt="{{ photo.name }}" class="gallery-photo">
                </div>
                {% empty %}
                <p>No photos found!</p>
                {% endfor %}
            </div>

            <!-- Navigation buttons -->
            <button type="button" class="carousel-prev" aria-label="Previous">
                <i class="fa-solid fa-angle-left"></i>
            </button>
            <button type="button" class="carousel-next" aria-label="Next">
                <i class="fa-solid fa-angle-right"></i>
            </button>
        </div>

        <div class="video-grid">
            <h2 class="moving-title" id="title">Видеогалерея</h2>

            <div class="video-wrapper">

                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/vtyliACZuqI"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>
                <p>1 "Б" класс</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}