{% extends "base.html" %}
{% load static %}
{% block page_name %}Математика{% endblock %}
{% block content %}
<section class="subject-page general-info">
    <h1 class="moving-title" id="title">Математика</h1>

    <p class="subject-intro">
        Здесь вы можете найти дополнительные материалы по математике. Выбери свой класс (1–4), и ниже появятся
        задания.</p>

    <!-- Btns for grade choice -->
    <div class="class-picker" role="tablist" aria-label="Выбор класса">
        <button type="button" class="class-btn active" data-class="1">1 класс</button>
        <button type="button" class="class-btn" data-class="2">2 класс</button>
        <button type="button" class="class-btn" data-class="3">3 класс</button>
        <button type="button" class="class-btn" data-class="4">4 класс</button>
    </div>

    <!-- 1 class -->
    <div class="class-content active" data-class-content="1">
        <h2 class="moving-header">1 класс</h2>
        <p class="muted">Счёт, сложение и вычитание, сравнение чисел.</p>
        <div class="apps-grid">

            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/de7722331ecb4ff4a163205bb1004cb4?themeId=65&templateId=30&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <br>
                <span>Простые задачи</span>
            </div>

            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/1dfc8a96c33d4f8e96478ec56a8d963e?themeId=54&templateId=5&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <br>
                <span>Найди ответ</span>
            </div>

            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/923b7b713fdc48e28971b73286b86ccf?themeId=54&templateId=3&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <br>
                <span>Простые задачи</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?v=pgfzn31va21" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Примеры с окошками</span>
            </div>

            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/2f37ad9dbd3b42dab4a039465229d9bd?themeId=23&templateId=5&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <span>Примеры</span>
            </div>

            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/92c3ac2c1cef4632bb2a1395d30caef8?themeId=43&templateId=2&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <span>Примеры</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=25957251" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Сложение и вычитание чисел с переходом через десяток</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=25957341" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Сложение и вычитание чисел с переходом через десяток</span>
            </div>

        </div>
    </div>

    <!-- 2 class -->
    <div class="class-content" data-class-content="2">
        <h2 class="moving-header">2 класс</h2>
        <div class="apps-grid">

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=5112525" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Умножение</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?v=ptuwbg31519" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Таблица умножения</span>
            </div>

            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/923b7b713fdc48e28971b73286b86ccf?themeId=54&templateId=3&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <br>
                <span>Простые задачи</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?v=pe3k2cfj201" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Простые задачи на умножение и деление</span>
            </div>
        </div>
    </div>

    <!-- 3 class -->
    <div class="class-content" data-class-content="3">
        <h2 class="moving-header">3 класс</h2>
        <div class="apps-grid">

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=38391314" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Математика 3 класс</span>
            </div>

            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/cc53ada0e308408ebfb4619be5866d17?themeId=1&templateId=3&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <br>
                <span>Дроби</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=30016969" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Математика 3-4 класс</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=36930825" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Загадки по математике 3-4 класс</span>
            </div>
            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/c1bfa0094ee34f4e8ff3e88f02ef86ad?themeId=46&templateId=3&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <br>
                <span>Геометрические фигуры</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=38208251" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Математика 3 класс</span>
            </div>
        </div>
    </div>

    <!-- 4 class-->
    <div class="class-content" data-class-content="4">
        <h2 class="moving-header">4 класс</h2>
        <div class="apps-grid">

            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/4930c957539e4cd485514043b6ad759e?themeId=1&templateId=5&fontStackId=0"
                    width="500" height="380" frameborder="0" allowfullscreen></iframe>
                <br>
                <span>Еденицы и длины</span>
            </div>

            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/ea0c5081bec3497ca828da48fc3b8fb6?themeId=1&templateId=5&fontStackId=0"
                    width="500" height="380" frameborder="0" allowfullscreen></iframe>
                <br>
                <span>Примеры</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=30016969" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Математика 3-4 класс</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=8610327" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Устный счет</span>
            </div>
            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=1276956" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Примеры</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=32347174" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Тест по математике</span>
            </div>
        </div>
    </div>
</section>
{% endblock %}