{% extends "base.html" %}
{% load static %}
{% block page_name %}Познание мира{% endblock %}
{% block content %}
<section class="subject-page general-info">
    <h1 class="moving-title" id="title">Познание мира</h1>

    <p class="subject-intro">
        Здесь вы можете найти материалы по познанию мира: природа, человек, общество. Выбери свой класс (1–4).
    </p>

    <!-- Btns for grade choice -->
    <div class="class-picker" role="tablist" aria-label="Выбор класса">
        <button type="button" class="class-btn active" data-class="1">1 класс</button>
        <button type="button" class="class-btn" data-class="2">2 класс</button>
        <button type="button" class="class-btn" data-class="3">3 класс</button>
        <button type="button" class="class-btn" data-class="4">4 класс</button>
    </div>

    <!-- 1 class -->
    <div class="class-content active" data-class-content="1">
        <h2 class="moving-header">1 класс</h2>
        <p class="muted">Задания, упражнения и материалы для изучения окружающего мира.</p>
        <div class="apps-grid">

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=13895138" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Рукотворный и природный мир</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=33273050" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Лесные опасности</span>
            </div>


            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=23261351" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <span>Времена года</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=1591474" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Государства мира</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=2146892" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Достопримечательности мира</span>
            </div>

            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/bf7e64ffb8f84afcbc6d9045804d6b21?themeId=1&templateId=2&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <span>Познание мира</span>
            </div>

            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/3aafff49a75e4c5f92a35070eaeb795b?themeId=58&templateId=5&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <br>
                <span>Познание Мира</span>
            </div>
        </div>
    </div>

    <!-- 2 class -->
    <div class="class-content active" data-class-content="2">
        <h2 class="moving-header">2 класс</h2>
        <p class="muted">Задания, упражнения и материалы для изучения окружающего мира.</p>
        <div class="apps-grid">

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=28869" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Кустарники леса</span>
            </div>

            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/82ec82c5d0d144b2a39cad7d6bd1dc31?themeId=1&templateId=5&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <br>
                <span>Термометр</span>
            </div>

            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/f1d62560f4314b30a98289078ca2e1f1?themeId=1&templateId=22&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <span>Бытовая техника </span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=647374" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Цвета,числительные, питомцы</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=311441" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Природа и животные</span>
            </div>
        </div>
    </div>

    <!-- 3 class -->
    <div class="class-content active" data-class-content="3">
        <h2 class="moving-header">3 класс</h2>
        <p class="muted">Задания, упражнения и материалы для изучения окружающего мира.</p>
        <div class="apps-grid">

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=40921971" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Окружающий мир</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=1064867" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Взаимодействие растений, ветра, воды на плодородие почвы</span>
            </div>


            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/4377d1bc020a4a00be9d6068a4fa394e?themeId=46&templateId=35&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <span>Познание мира - тест</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=5272048" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Виды информации</span>
            </div>
        </div>
    </div>

    <!-- 4 class -->
    <div class="class-content active" data-class-content="4">
        <h2 class="moving-header">4 класс</h2>
        <p class="muted">Задания, упражнения и материалы для изучения окружающего мира.</p>
        <div class="apps-grid">

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=1175261" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Моря. Озёра. Реки</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=1363764" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Жизнь древних славян</span>
            </div>

            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/a3f58c16bc2f4ee19807d9b6500f5537?themeId=21&templateId=69&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <span>Жилища народов мира</span>
            </div>

            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/156a0a0a18e0425abf7f6376a2ce2fd0?themeId=46&templateId=36&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <br>
                <span>Познание мира - тест</span>
            </div>
        </div>
    </div>
</section>
{% endblock %}