{% extends "base.html" %}
{% load static %}
{% block page_name %}Родной язык{% endblock %}
{% block content %}
<section class="subject-page general-info">
    <h1 class="moving-title" id="title">Родной язык</h1>

    <p class="subject-intro">
        Здесь вы можете найти дополнительные материалы по родному языку. Выбери свой класс (1–4), и ниже появятся
        задания.
    </p>

    <!-- Btns for grade choice -->
    <div class="class-picker" role="tablist" aria-label="Выбор класса">
        <button type="button" class="class-btn active" data-class="1">1 класс</button>
        <button type="button" class="class-btn" data-class="2">2 класс</button>
        <button type="button" class="class-btn" data-class="3">3 класс</button>
        <button type="button" class="class-btn" data-class="4">4 класс</button>
    </div>

    <!-- 1 class -->
    <div class="class-content active" data-class-content="1">
        <h2 class="moving-header">1 класс</h2>
        <p class="muted">Упражнения, примеры и задания для практики чтения и письма.</p>
        <div class="apps-grid">

            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/2d1725649a5c44a5bde21c335d3aefec?themeId=53&templateId=2&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <br>
                <span>Слоги</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=11354431" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Учимся читать по слогам: слова из двух слогов - 2.</span>
            </div>


            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/af1a416a249844db8975558573093500?themeId=51&templateId=3&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <span>Соберите текст</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=6634400" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Слоги</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=13932051" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Деление слов на слоги</span>
            </div>

            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/adeaf6e781c044afbfbd0ef1c4a8bde9?themeId=1&templateId=2&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <span>Слоги 1 класс</span>
            </div>

            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/881f9903601e44148f0dcccad21ca9d0?themeId=1&templateId=5&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <br>
                <span>Буква ь</span>
            </div>
        </div>
    </div>

    <!-- 2 class -->
    <div class="class-content active" data-class-content="2">
        <h2 class="moving-header">2 класс</h2>
        <p class="muted">Упражнения, примеры и задания для практики чтения и письма.</p>
        <div class="apps-grid">

            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/9981c89480dd401b8c68bebc4c10eaf7?themeId=1&templateId=22&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <br>
                <span>Алфавит</span>
            </div>

            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/bda9c160367b47e1a105eeb72484925b?themeId=22&templateId=71&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <br>
                <span>Мой класс</span>
            </div>


            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/4a245754a43c410eb29df1417bd49580?themeId=1&templateId=36&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <span>Соберите текст</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=22103439" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Приставки</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=22104848" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Найди правильный ответ</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=659948" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <span>Словарные слова</span>
            </div>

            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/e732368fa7e14da39c5460fcca9a15f0?themeId=1&templateId=2&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <br>
                <span>Твёрдые и мягкие согласные </span>
            </div>
        </div>
    </div>

    <!-- 3 class -->
    <div class="class-content active" data-class-content="3">
        <h2 class="moving-header">3 класс</h2>
        <p class="muted">Упражнения, примеры и задания для практики чтения и письма.</p>
        <div class="apps-grid">

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=12017366" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Игра по русскому языку</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=2658278" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Подготовка к диктанту</span>
            </div>


            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/d69e995bf2d44bc7890a972be50e5349?themeId=1&templateId=2&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <span>Суффиксы прилагательных</span>
            </div>

            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/436f7dc79c48415594fed5af19d43f61?themeId=1&templateId=36&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <br>
                <span>Работа с текстом</span>
            </div>

            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/37e9f977b2684966a8c8567de59f59f8?themeId=1&templateId=36&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <br>
                <span>Распр/нераспр. предложения</span>
            </div>
        </div>
    </div>

    <!-- 4 class -->
    <div class="class-content active" data-class-content="3">
        <h2 class="moving-header">3 класс</h2>
        <p class="muted">Упражнения, примеры и задания для практики чтения и письма.</p>
        <div class="apps-grid">

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=3096337" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Падежи имён существительных</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=1299671" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Словарные слова</span>
            </div>

            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/0493a11b5ae54cb59f87d54038b10f1e?themeId=1&templateId=3&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <span>Подбери слова</span>
            </div>

            <div class="app-card">
                <iframe style="max-width:100%"
                    src="https://wordwall.net/embed/45b64701f3c24fa7b46cdd906111b510?themeId=1&templateId=2&fontStackId=0"
                    width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                <br>
                <span>Безударные гласные</span>
            </div>

            <div class="app-card">
                <iframe src="https://learningapps.org/watch?app=10360901" style="border:0px;width:100%;height:500px"
                    allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                <br>
                <span>Глаголы, повторение</span>
            </div>
        </div>
    </div>
</section>
{% endblock %}