:root {
    --font-primary: 'Chewy', cursive;
    --font-secondary: 'DynaPuff', cursive;
    --primary-brown: #8a4a2a;
    --primary-green: #38401E;
    --dark-brown: #3A2414;
    --soft-orange: #E8893A;
    --warm-cream: #FEF5E5;
    --light-beige: #fffefd;
}

body {
    font-family: var(--font-primary);
    background-color: var(--light-beige);
    color: var(--dark-brown);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-secondary);
    color: var(--primary-brown);
    font-size: 3rem;
    padding: 1rem;
}

p {
    padding: 1rem;
    font-size: 1.1rem;
}

/* Navigation Styles */

.navbar-brand {
    margin-left: 1rem;
}

.navigation {
    background-color: var(--warm-cream);
    z-index: 10;
}

.nav-btn {
    position: relative;
    background-color: var(--warm-cream);
    color: var(--dark-brown);
    padding: 0.5rem 1.7rem;
    font-weight: 600;
    font-size: 1.1rem;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.nav-btn::before {
    content: "";
    position: absolute;
    inset: -6px;
    border-radius: 999px;
    border: 3px solid var(--primary-brown);
    opacity: 0.9;
    transform: rotate(-1.2deg);
    transition: transform 0.2s ease;
}

.nav-btn-right::before {
    transform: rotate(1.2deg);
}

.nav-btn:hover {
    background-color: var(--light-beige);
}

.nav-btn:hover::before {
    transform: rotate(1.2deg);
}

.nav-btn-right:hover::before {
    transform: rotate(-1.2deg);
}

/* Hero Section */

.hero-section {
    position: relative;
    width: 100vw !important;
    height: 75vh;
    overflow: hidden;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    transition: opacity 0.5s ease-in-out;
}

.hero-section .prev {
    left: 20px;
}

.hero-section .next {
    right: 20px;
}

.prev,
.next {
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 0.199);
    position: absolute;
    top: 50%;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border-radius: 10px;
}

.hero-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 0.5rem 1.2rem;
    background-color: var(--warm-cream);
    border-radius: 999px;
    border: 3px solid var(--primary-brown);
}

/* Other Sections */
.general-info {
    text-align: center;
    max-width: 1200px;
    background-color: rgba(244, 239, 228, 0.425);
    margin: 2rem auto;
}

.moving-title {
    text-transform: capitalize;
    animation: anime 1s ease;
}

@keyframes anime {
    0% {
        opacity: 0;
        transform: translateY(55px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.anime-element {
    display: inline-block;
    opacity: 0;
    transform: translateY(50px);
    animation: anime 1s ease forwards;
}

.bounce-letter {
    display: inline-block;
    opacity: 0;
    transform: translateY(50px);
    animation: bounce-in 1s ease forwards;
}

@keyframes bounce-in {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    50% {
        opacity: 1;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Footer */
.site-footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--warm-cream);
}

@media (min-width: 768px) {
    .navbar-center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}